CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7620=y
CONFIG_TARGET_ramips_mt7620_DEVICE_psg1218a=y
# CONFIG_BUSYBOX_DEFAULT_FEATURE_IPV6 is not set
# CONFIG_IPV6 is not set
# CONFIG_KERNEL_BLK_CGROUP is not set
# CONFIG_KERNEL_BLK_DEV_THROTTLING is not set
# CONFIG_KERNEL_CFQ_GROUP_IOSCHED is not set
# CONFIG_KERNEL_CGROUP_DEVICE is not set
# CONFIG_KERNEL_CGROUP_FREEZER is not set
# CONFIG_KERNEL_CGROUP_PIDS is not set
# CONFIG_KERNEL_CRASHLOG is not set
# CONFIG_KERNEL_DEBUG_INFO is not set
# CONFIG_KERNEL_DEBUG_KERNEL is not set
# CONFIG_KERNEL_ELF_CORE is not set
# CONFIG_KERNEL_IPC_NS is not set
# CONFIG_KERNEL_IPV6 is not set
# CONFIG_KERNEL_IP_MROUTE is not set
# CONFIG_KERNEL_KALLSYMS is not set
# CONFIG_KERNEL_MAGIC_SYSRQ is not set
# CONFIG_KERNEL_MIPS_FPU_EMULATOR is not set
# CONFIG_KERNEL_NETPRIO_CGROUP is not set
# CONFIG_KERNEL_NET_CLS_CGROUP is not set
# CONFIG_KERNEL_NET_NS is not set
# CONFIG_KERNEL_PID_NS is not set
# CONFIG_KERNEL_PRINTK is not set
# CONFIG_KERNEL_PRINTK_TIME is not set
# CONFIG_KERNEL_SWAP is not set
# CONFIG_KERNEL_USER_NS is not set
# CONFIG_KERNEL_UTS_NS is not set
CONFIG_PACKAGE_appfilter=y
# CONFIG_PACKAGE_dnsmasq_full_auth is not set
# CONFIG_PACKAGE_dnsmasq_full_conntrack is not set
# CONFIG_PACKAGE_dnsmasq_full_noid is not set
# CONFIG_PACKAGE_etherwake is not set
CONFIG_PACKAGE_ip-tiny=y
# CONFIG_PACKAGE_iptables-mod-filter is not set
# CONFIG_PACKAGE_kmod-ipt-filter is not set
# CONFIG_PACKAGE_kmod-lib-textsearch is not set
# CONFIG_PACKAGE_kmod-nf-conntrack-netlink is not set
# CONFIG_PACKAGE_kmod-nf-ipt6 is not set
CONFIG_PACKAGE_kmod-oaf=y
CONFIG_PACKAGE_kmod-tun=y
# CONFIG_PACKAGE_libcap-ng is not set
# CONFIG_PACKAGE_libip6tc is not set
CONFIG_PACKAGE_libminiupnpc=y
# CONFIG_PACKAGE_libmnl is not set
CONFIG_PACKAGE_libnatpmp=y
# CONFIG_PACKAGE_libnetfilter-conntrack is not set
# CONFIG_PACKAGE_libnfnetlink is not set
CONFIG_PACKAGE_libstdcpp=y
# CONFIG_PACKAGE_libuuid is not set
# CONFIG_PACKAGE_luci-app-control-timewol is not set
# CONFIG_PACKAGE_luci-app-control-webrestriction is not set
# CONFIG_PACKAGE_luci-app-control-weburl is not set
# CONFIG_PACKAGE_luci-app-ddns is not set
# CONFIG_PACKAGE_luci-app-diskman_INCLUDE_btrfs_progs is not set
# CONFIG_PACKAGE_luci-app-diskman_INCLUDE_lsblk is not set
CONFIG_PACKAGE_luci-app-oaf=y
# CONFIG_PACKAGE_luci-app-ramfree is not set
CONFIG_PACKAGE_luci-app-smartdns=y
# CONFIG_PACKAGE_luci-app-timecontrol is not set
# CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_BBR_CCA is not set
# CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_OFFLOADING is not set
# CONFIG_PACKAGE_luci-app-upnp is not set
# CONFIG_PACKAGE_luci-app-vlmcsd is not set
# CONFIG_PACKAGE_luci-app-wol is not set
CONFIG_PACKAGE_luci-app-zerotier=y
CONFIG_PACKAGE_luci-i18n-oaf-zh-cn=y
CONFIG_PACKAGE_luci-i18n-smartdns-zh-cn=y
CONFIG_PACKAGE_luci-i18n-zerotier-zh-cn=y
# CONFIG_PACKAGE_luci-proto-ipv6 is not set
# CONFIG_PACKAGE_miniupnpd is not set
# CONFIG_PACKAGE_openwrt-keyring is not set
CONFIG_PACKAGE_smartdns=y
# CONFIG_PACKAGE_usign is not set
# CONFIG_PACKAGE_vlmcsd is not set
CONFIG_PACKAGE_zerotier=y
# CONFIG_PKG_CHECK_FORMAT_SECURITY is not set
# CONFIG_POSTFIX_CDB is not set
# CONFIG_POSTFIX_LDAP is not set
# CONFIG_POSTFIX_PCRE is not set
# CONFIG_POSTFIX_SASL is not set
# CONFIG_POSTFIX_SQLITE is not set
# CONFIG_POSTFIX_TLS is not set
# CONFIG_SIGNATURE_CHECK is not set
# CONFIG_SIGNED_PACKAGES is not set
